<nav>
  <div class="nav-wrapper purple accent-4">
          <a class="brand-logo">Movie Database</a>

        <ul id="nav-mobile" class="right">
          <li>
            <a ng-href="#/search"><i class="material-icons left">search</i>Search Movies</a></li>
          <li>
            <a ng-href="#/watchlist"><i class="material-icons left">local_movies</i>Watch List</a></li>
          <li >
            <a ng-href="#/logout"><i class="material-icons left">perm_identity</i>Logout</a></li>
          <li>
            <a ng-href="#/login"><i class="material-icons left">perm_identity</i>Login</a></li>
        </ul>
  </div>
</nav>
