<!-- ============= SEARCH BAR ============= -->
<div class="row">
  <form id="databaseSearch">
    <input type="text" placeholder="Search movie database..." class="col s9 offset-s1">
    <button class="waves-effect waves-light btn-floating teal btn"><i class="material-icons">search</i></button>
  </form>
</div>


<!-- ============= MOVIE CARDS FOR USER'S WATCHLIST ============= -->
<div class="row">
  <div class="card">
    <div class="card-image">
      <img src="PUT_MOVIE_IMG_HERE">
    </div>
    <div class="card-content red accent-4">
      <p>PUT_WATCHLIST_MOVIE_TITLE_HERE</p>
      <p>PUT_WATCHLIST_MOVIE_TYPE_HERE</p>
      <p>PUT_WATCHLIST_MOVEI_YEAR_HERE</p>
    </div>
  </div>
</div>
